# Configuration file for DynEarthSol3D test run

[mesh]
poly_filename = examples/rifting-2d.poly
meshing_option = 90
xlength = 500e3
ylength = 1
zlength = 150e3
resolution = 5e3

[sim]
max_steps = 100
output_step_interval = 10
# Setting to 0 means no averaging
output_averaged_fields = 0
modelname = test_run

[control]
characteristic_speed = 1e-10
is_quasi_static = 1
dt_fraction = 0.5

[bc]
vbc_x0 = 1
vbc_val_x0 = -1e-10
vbc_x1 = 1
vbc_val_x1 = 1e-10
vbc_z0 = 1
vbc_val_z0 = 0
vbc_z1 = 1
vbc_val_z1 = 0
surface_temperature = 273
mantle_temperature = 1600

[ic]
temperature_option = 0
oceanic_plate_age_in_yr = 60e6

[mat]
rheology_type = elasto-plastic
num_materials = 2
rho0 = [3210, 3300]
shear_modulus = [80.5e9, 80.5e9]
bulk_modulus = [128.2e9, 128.2e9]