# Configuration for a simple test run
sim.modelname = test_timestamped
sim.max_steps = 10
sim.output_step_interval = 1
sim.output_averaged_fields = 0
mesh.meshing_option = 1
mesh.xlength = 100e3
mesh.ylength = 5e3
mesh.zlength = 50e3
mesh.resolution = 5e3
mesh.min_angle = 32
mat.rheology_type = elastic
mat.num_materials = 1
mat.rho0 = [3210]
mat.thermal_coefficient = [3e-5]
mat.bulk_modulus = [128.2e9]
mat.shear_modulus = [80.5e9]